.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
creatingAPIStaticFiles.log
creatingAPIStaticFiles.R
kellzAPI.R
kellzV2.R
scriptAutomator.R
creatingToken.R
Source Files
archive
notes
howAutomationWorks
howToDeleteAutomation
potentialFixTOInteractiveIssue
creatingToken.R
tokenValue.rds
deploymentAutomator.R
creatingAPIStaticFiles.R
